<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>

<h:body>
	<h:form>
	<p:commandButton value="Home" action="/index.xhtml"/>
	<h:panelGrid>
		<h:panelGrid columns="2">
    	<p:outputLabel value="Placa do Veiculo:" />
   	 	<p:inputText value = "#{veiculosMB.veiculos.placa}" ></p:inputText>
    	<p:outputLabel value="uf: " />
    	<p:inputText value = "#{veiculosMB.veiculos.uf}"></p:inputText>
    
    	<p:commandButton value="Salvar Dados Do Veiculo" action = "#{veiculosMB.chamarVeiculo()}"/>
    	<p:commandButton value="Listar Veiculos No Banco" action="/pages/listarVeiculos.xhtml"/>
    
    	</h:panelGrid>
    </h:panelGrid>

	</h:form>
</h:body>

</html>