<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>

<h:body>
	<h:form>
	
	<p:gmap id="gmap" center="36.890257,30.707417" zoom="13" type="HYBRID" style="width:100%;height:400px"
    model="#{addMarkersView.emptyModel}" onPointClick="handlePointClick(event);" widgetVar="map" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtRWoWocgAvKjMcdAbJdZfa3og9MdzlBw" />
	
	<p:commandButton value="Home" action="/index.xhtml"/>
	<h:panelGrid columns="2">
		<h:panelGrid columns="2">
    	<p:outputLabel value="Local Da Infracao:" />
    	<p:inputText value = "#{LocalinfracaoMB.localinfracao.descricaoLocalInfracao}" ></p:inputText>
   	 	<p:outputLabel value="Velocidade Permitida:" />
    	<p:inputText value = "#{LocalinfracaoMB.localinfracao.velocidadePermitida}"></p:inputText>
    
    	<p:commandButton value="Salvar Dados" action = "#{LocalinfracaoMB.chamarLocalinfracao()}"/>
    	<p:commandButton value="Listar Locais No Banco" action="/pages/listarLocalinfracao.xhtml"/>
    	</h:panelGrid>
    </h:panelGrid>
    
	</h:form>
</h:body>

</html>