<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>

<h:body>
	<h:form>
	<p:commandButton value="Home" action="/index.xhtml"/>
	<h:panelGrid columns="2">
		<h:panelGrid columns="2">
    	<p:outputLabel value="Nome:" />
    	<p:inputText value = "#{propretarioMB.proprietario.nome}" ></p:inputText>
    	<p:outputLabel value="Endereço: " />
    	<p:inputText value = "#{propretarioMB.proprietario.endereco}"></p:inputText>
    	<p:outputLabel value="Bairro: " />
    	<p:inputText value = "#{propretarioMB.proprietario.bairro}"></p:inputText>
    	<p:outputLabel value="Cidade: " />
    	<p:inputText value = "#{propretarioMB.proprietario.cidade}"></p:inputText>
    	<p:outputLabel value="UF: " />
    	<p:inputText value = "#{propretarioMB.proprietario.uf}"></p:inputText>
    	<p:outputLabel value="Sexo: " />
    	<p:inputText value = "#{propretarioMB.proprietario.sexo}"></p:inputText>
    	<p:outputLabel value="Data de Nascimento: " />
    	<p:calendar value = "#{propretarioMB.proprietario.dtNascimento}"></p:calendar>
    
    	<p:commandButton value="Salvar Dados Do Proprietario" action = "#{propretarioMB.chamarProprietario()}"/>
    	<p:commandButton value="Listar Proprietarios No Banco" action="/pages/listarProprietario.xhtml"/>
    	</h:panelGrid>
    </h:panelGrid>
    
	</h:form>
</h:body>

</html>