<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>

<h:body>
	<h:form>
	<h:panelGrid>
		<p:commandButton value="Home" action="/index.xhtml"/>	
	
		<h:panelGrid columns="2">
    	<p:outputLabel value="Nome:" />
    	<p:inputText value = "#{agenteMB.agente.nome}" ></p:inputText>
    	<p:outputLabel value="cpf:" />
    	<p:inputText value = "#{propretarioMB.proprietario.cpfProprietario}" action = "#{propretarioMB.chamarProprietario()}"></p:inputText>
    	<p:outputLabel value="Data de contratação: " />
    	<p:calendar value = "#{agenteMB.agente.dtContratacao}"></p:calendar>
    	<p:outputLabel value="Tempo de Serviço: " />
   		<p:inputText value = "#{agenteMB.agente.tempoServico}"></p:inputText>
    
    	<p:commandButton value="Salvar Dados Do Agente" action = "#{agenteMB.chamarAgente() }"/>
    	<p:commandButton value="Listar Agentes No Banco" action="/pages/ListarAgente.xhtml"/>
    	</h:panelGrid>
	</h:panelGrid>
	</h:form>
</h:body>

</html>