<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>

<h:body>
	<h:form>
	<p:commandButton value="Home" action="/index.xhtml"/>
	<p:dataTable     
    	var="Proprietario" value="#{propretarioMB.proprietarioList}">
    	<p:column headerText="Nome">
        	<h:outputText value="#{Proprietario.nome}" />
    	</p:column>
 
    	<p:column headerText="CPF">
       	 <h:outputText value="#{Proprietario.cpfProprietario}" />
    	</p:column>
 
   	 	<p:column headerText="Edereço">
        	<h:outputText value="#{Proprietario.endereco}" />
    	</p:column>
    	
    	<p:column headerText="Bairro">
        	<h:outputText value="#{Proprietario.bairro}" />
        </p:column>
        
        <p:column headerText="Cidade">
        	<h:outputText value="#{Proprietario.cidade}" />
        </p:column>
        
        <p:column headerText="UF">
        	<h:outputText value="#{Proprietario.uf}" />
        </p:column>
        
        <p:column headerText="Sexo">
        	<h:outputText value="#{Proprietario.sexo}" />
        </p:column>
        
        <p:column headerText="Data de Nascimento">
        	<h:outputText value="#{Proprietario.dtNascimento}" />
        </p:column>
	</p:dataTable>
	</h:form>
</h:body>

</html>