<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>
    <h:form>
     
    <p:panelMenu style="width:300px">
    <p:submenu label="Cadastrar">
    	<p:menuitem value="Agente" url="/pages/cadastrarAgente.xhtml"/>
    	<p:menuitem value="Proprietario" url="/pages/cadastrarProprietario.xhtml"/>
    	<p:menuitem value="Veiculos" url="/pages/cadastrarVeiculos.xhtml"/>
    	<p:menuitem value="Modelo" url="/pages/cadastrarModelo.xhtml"/>
    	<p:menuitem value="Categoria" url="/pages/cadastrarCategoria.xhtml"/>
    	
    	<p:submenu label="Infracao">
    	<p:menuitem value="Local Infracao" url="/pages/cadastrarLocalinfracao.xhtml"/> 
    	<p:menuitem value="Tipo Infracao" url="/pages/cadastrarTipoinfracao.xhtml"/> 
    	</p:submenu>
    </p:submenu>
    </p:panelMenu>
    
    <p:panelMenu style="width:300px">
    <p:submenu label="Listar">
    	<p:menuitem value="Agente" url="/pages/ListarAgente.xhtml"/>
    	<p:menuitem value="Proprietario" url="/pages/listarProprietario.xhtml"/>
    	<p:menuitem value="Veiculos" url="/pages/listarVeiculos.xhtml"/>
    	<p:menuitem value="Modelo" url="/pages/listarModelo.xhtml"/>
    	<p:menuitem value="Local da Infraçao" url="/pages/listarLocalinfracao.xhtml"/>
    	<p:menuitem value="Tipo da Infraçao" url="/pages/listarTipoinfracao.xhtml"/>
    	<p:menuitem value="Categoria" url="/pages/listarCategoria.xhtml"/>
    
    </p:submenu>
    </p:panelMenu>
    
    </h:form>
</h:body>
</html>

